{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react", "react-hooks", "jsx-a11y"],
  "rules": {
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "no-console": "off",
    "no-alert": "off",
    "no-nested-ternary": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "import/no-cycle" : "off",
    "react/no-unstable-nested-components": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": "off"
  }
}